body {
  background-color: #000;
  color: #F2F2F2;
  margin: 20px;
  font-family: "Source Code Pro",monospace;
  font-weight: 800;
  border-radius: 5px;
  padding: 20px;
  font-size: 1000%;
  margin-bottom: 10px;
  text-align: center;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
